<section>
  <div class="page-header">
    <h1>{{vm.leave._id ? 'Edit Leave' : 'New Leave'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.leaveForm" class="form-horizontal" ng-submit="vm.save(vm.form.leaveForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email</label>
          <input name="email" type="text" ng-model="vm.leave.email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="vm.form.leaveForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="leaveType">leaveType</label>
          <input name="leaveType" type="text" ng-model="vm.leave.leaveType" id="leaveType" class="form-control" placeholder="leaveType">
        </div>

        <div class="form-group">
          <label class="control-label" for="leaveDetail">leaveDetail</label>
          <input name="leaveDetail" type="text" ng-model="vm.leave.leaveDetail" id="leaveDetail" class="form-control" placeholder="leaveDetail">
        </div>

        <div class="form-group">
          <label class="control-label" for="leaveStartDateTime">leaveStartDateTime</label>
          <input name="leaveStartDateTime" type="text" ng-model="vm.leave.leaveStartDateTime" id="leaveStartDateTime" class="form-control" placeholder="leaveStartDateTime">
        </div>

        <div class="form-group">
          <label class="control-label" for="leaveEndDateTime">leaveEndDateTime</label>
          <input name="leaveEndDateTime" type="text" ng-model="vm.leave.leaveEndDateTime" id="leaveEndDateTime" class="form-control" placeholder="leaveEndDateTime">
        </div>

        <div class="form-group">
          <label class="control-label" for="leaveHalf">leaveHalf</label>
          <input name="leaveHalf" type="text" ng-model="vm.leave.leaveHalf" id="leaveHalf" class="form-control" placeholder="leaveHalf">
        </div>

        <div class="form-group">
          <label class="control-label" for="leaveTime">leaveTime</label>
          <input name="leaveTime" type="text" ng-model="vm.leave.leaveTime" id="leaveTime" class="form-control" placeholder="leaveTime">
        </div>

        <div class="form-group">
          <label class="control-label" for="approveStatus">approveStatus</label>
          <input name="approveStatus" type="text" ng-model="vm.leave.approveStatus" id="approveStatus" class="form-control" placeholder="approveStatus">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.leave._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>