<section>
  <div class="page-header">
    <h1>Employeeprofiles</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="employeeprofile in vm.employeeprofiles"
       ui-sref="employeeprofiles.view({ employeeprofileId: employeeprofile._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="employeeprofile.created | date:'mediumDate'"></span>
        by
        <span ng-if="employeeprofile.user" ng-bind="employeeprofile.user.displayName"></span>
        <span ng-if="!employeeprofile.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="employeeprofile.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.employeeprofiles.$resolved && !vm.employeeprofiles.length">
    No Employeeprofiles yet, why don't you <a ui-sref="employeeprofiles.create">create one</a>?
  </div>
</section>
